* {
    margin: 0px;
    max-width: 100%;
}

/* 版面配置 */
.container {
    min-height:1000px;
    width: auto ;
    display: grid;

    grid-template-rows:15% 1fr 15%;
    grid-template-columns: 18% 1fr 1fr;

    grid-template-areas:
    "header header header"
    "sidebar main main" 
    "footer footer footer";
}

header {
    background-color: rgb(215, 234, 246);
    grid-area: header;
}

aside {
    background-color: rgba(242, 247, 250, 0.942);
    grid-area: sidebar;
}

main {
    background-color: #fff;
    grid-area: main;
    
}

footer {
    background-color:rgb(107, 119, 147);
    grid-area: footer;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 35px;
    margin-top: 2%;
}

nav a {
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 120%;
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%; 
}

.right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    padding-right: 5% ;
    gap: 15px;
}

/* ASIDE */
aside {
    padding: 20px;
    padding-left: 10%; 
    line-height: 150%;
}
.side {
    margin-left: 20px;
}

aside p {
    margin-top: 15%;
    margin-bottom: 5%;
    border-left: solid ;
    padding-left: 10px;
}

aside a {
    color: inherit;
    text-decoration: none;
}

aside dt:hover {
    background-color: rgb(211, 211, 211);
}

/*main*/
.adv {
    width: 90%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding-top: 2%;
}

.adv img {
    height: 330px;
    width: 1000px;
    display: block;
    margin: 0 auto;
}

.slide {
    display: none;
    text-align: center;
}

.show {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    width: 30px;
    height: 30px;
    font-size: 32px;
    text-align: center;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: black;
    color: #fff;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1% 2px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}



/*footer*/
footer p {
    text-align: center;
    padding: 5%;
}
