.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25%;
    color: #204a40;
}


.item {
    display: flex;
    align-items: center; 
    padding: 3%;
}

.item img {
    border-radius: 15%;
    margin-right: 10px;
    width: 150px;
    height: auto;
    margin-right: 3%;
    transition: transform 0.5s ease;
}

.item img:hover  {
    transform: rotateY(180deg);
}

.hl {
    width: 650px;
    margin: 10px 0;
    position: relative;
    border: none;
    border-top: 1px dashed ;
}

.ex {
    border: solid;
    border-radius: 5%;
    width: 350px;
    height: 180px;
    background-image: url(../image/bg.jpeg);
    line-height: 250%;
    padding-left: 3%;
    transition: transform 0.5s ease;
    font-family: 
}